.card{
    background-color: rgb( 112, 162, 215);
    border: 2px dashed rgb(4, 70, 193);
    border-radius: 10px;
    grid-template-rows: auto 1fr auto;
}
h2 {
    background-color: rgb(29, 154, 242);
    border-radius: 10px;
    text-align: center;
    padding-block: 20px;
    margin-inline: 20px;
    opacity: 70%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    background-color: rgb( 112, 162, 215);
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 10px;
    opacity: 90%;
    border: 2px dashed rgb(4, 70, 193);
    grid-template-columns: 1fr;
}
.btn {
   background-color: rgb(25, 75, 146);
   border-radius: 10px;
   color: white;
   text-align: center;
   padding: 10px;
   margin-inline: 90px;
   margin-block: 10px;
   border-style: none;
   font-size: 25px;
   padding-inline: 100px;
}

.featured {
    grid-column: span 2;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 75, 146);
}
header {
   border: 2px solid black;
   display: flex;
}
.hero{
    border: 2px solid black;
    width: 100%;
}
.about{
    border: 2px solid black;
    width: 100%;
}
button {
    background-color: rgb(25, 75, 146);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-inline: 230px;
    margin-block: 10px;
    border-style: none;
    font-size: 25px;
    padding-inline: 200px;
}
.list {
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.list2 {
    list-style: none;
    text-decoration: none;
}
footer {
    display: flex;
}